*{font-family: "微软雅黑";}
input,textarea{border-radius: 5;}
table{border-collapse:collapse;border: 1px solid beige;} 

/*tr:nth-child(odd){
    background-color:#CFF;}
tr:nth-child(even){
    background-color:#699;}
tr:hover{
    background-color:#F0C;}*/
table tr:nth-child(1){background: beige;  color: steelblue; cursor: default;}
tr:nth-child(odd){background:#F4F4F4;}
tr:hover{background: lightcyan; cursor: hand ;} 
.sp1{width: 120px;display: inline-block;text-align:left; vertical-align:top ;}
.sp2{width: 400px;text-align:right;}
.sp3{width: 500px; text-align: center;  display: inline-block;}
.bt{width: 200px; height: 40px;background-color: dodgerblue;color: white;border-radius: 6px;border: 0;}

.bt1{width: 100px; height: 30px;background-color:darkcyan;color: white;border-radius: 6px;border: 0;}

.bt2{width: 100px; height: 30px;background-color:goldenrod;color: black;border-radius: 6px;border: 0;}
.bt3{background-color: steelblue;color: white;border:0;}
.bt4{background-color:dimgray;color: white;border:0;}

.ah {width: 90%; background-color:beige;margin: 0 auto}